@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Encode Sans Expanded", sans-serif;
}

.mobile-menu {
    display: none;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background overlay with 70% opacity */
    backdrop-filter: blur(5px); /* Apply blur effect to background content */
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.close-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 1; /* Ensure the close icon is on top of the menu */
}

.mobile-menu.active {
    display: block;
    animation: slide-in 0.5s ease-in-out forwards;
    height: 60vh; /* Adjust the height as needed (50% of the viewport height) */
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(5px); 
    opacity: 1;
}

.close-icon.active {
    display: block;
    animation: slide-in 0.5s ease-in-out forwards;
    
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(5px); 
    opacity: 1;
}

/* .mobile-menu.active + .close-icon {
    display: block; 
} */

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}